// Specific CSS for your home-page
main {
  height: 100%;
  width: 100%;
}

section {
  height: 100%;
  width: 100%;
}

section:nth-child(1) {
  background:$background-color;
  color: white;
}

section:nth-child(2) {
  background: $background-dark-color;
  color: white;
}

section:nth-child(4) {
  background: $background-dark-color;
  color: white;
}

.container-home {
  display: flex;
  margin: 0px auto;
  max-width: 1200px;
}

.left-half {
  flex: 2;
  padding: 1rem;
  color:#ffffff
}

.right-half {
  color: #ffffff;
  flex: 2;
  padding: 1rem;
  h2 {
    font-size: 20px;
  }

}

.navbar a{
  text-decoration: none;
  color:#FFAF29;
  font-size: 20px;
}

a:hover {
  color: #f9c365;
  background-color: transparent;
  text-decoration: underline;
}

.container-exed {
  margin: 0px auto;
  max-width: 800px;
}


.experience {
  h1 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  h2 {
    font-size: 20px;
  }
}
.education {
  h1 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  h2 {
    font-size: 20px;
  }
}

.full-stack {
  margin-left: 180px;
}

.photography {
  margin-right: 180px;
}

.question {

  h1 {
    color: white;
  }

  a {
    color: #FFAF29;
    text-decoration: none;
  }

  p {
    color: white;
    font-size: 20px;
  }
}

.question a:hover {
  color: #f9c365;
  background-color: transparent;
}
