<div class="skills-cards">
  <div class="row mb-5">
    <div class="d-flex justify-content-between mt-5">
      <div class="card full-stack" style="width: 170px; height:160px; background-color:#FFAF29;">
        <div class="card-body">
          <h1 class="card-title text-center" style="font-size: 14px;"><i class="fa-solid fa-code fa-2xl my-5"></i>
          <br>Full stack web development</h1>
        </div>
      </div>
      <div class="card marketing" style="width: 170px; height:160px; background-color:#4E5470;">
        <div class="card-body text-center">
          <h1 class="card-title" style="font-size: 14px;"><i class="fa-solid fa-mobile-screen-button fa-2xl my-5"></i>
          <br>Digital Marketing</h1>
        </div>
      </div>
      <div class="card microsoft" style="width: 170px; height:160px; background-color:#4E5470;">
        <div class="card-body">
          <h1 class="card-title text-center" style="font-size: 14px;"><i class="fa-brands fa-microsoft fa-2xl my-5"></i>
          <br>Microsoft Office</h1>
        </div>
      </div>
    <div class="card photography" style="width: 170px; height:160px; background-color:#4E5470;">
        <div class="card-body">
          <h1 class="card-title text-center" style="font-size: 14px;"><i class="fa-solid fa-camera fa-2xl my-5"></i>
          <br>Photography</h1>
        </div>
    </div>
</div>
