<div class="container question d-flex">
  <div class="col">
    <h1>Got any questions?</h1>
      <p>Feel free to reach out</p>
        <a href = "mailto: samdungedup@gmail.com">samdungedup@gmail.com</a>
  </div>
  <div class="col">
  </div>
</div>
