<div class="container question">
  <div class="row">
    <div class="col">
      <h1 class="mt-5 mb-3">Got any questions?</h1>
        <p>Feel free to reach out</p>
          <a href = "mailto: samdungedup@gmail.com">samdungedup@gmail.com <i class="fa-solid fa-arrow-right"></i></a>
      </div>
      <div class="col">
       <h1 class="mt-5">Socials</h1>
          <div class="icons mt-5 mb-5">
            <a href="https://www.linkedin.com/in/samdu-ngedup-8b8a1296/" target="_blank"> <i class="fa-brands fa-linkedin fa-xl"></i></a>
            <a href="https://github.com/samdungedup" target="_blank"> <i class="fa-brands fa-github fa-xl ms-2"></i></a>
            <a href="https://www.instagram.com/samdungedup" target="_blank"> <i class="fa-brands fa-instagram fa-xl ms-2"></i></i></a>
          </div>
    </div>
  </div>
</div>
