<div class="container-home">
  <div class="left-half">
    <p> Image here </p>
  </div>
  <div class="right-half">
    <%= render "shared/navbar" %>
    <h2 class="mb-5">Introduction</h2>
      <h1 class="mb-5"><strong>Full stack web developer and Marketing graduate.</strong></h1>
        <p>Junior full stack Ruby developer with a specialisation in digital marketing. Experience in various countries including Singapore, Australia and Bhutan.</p>
  </div>
</div>
