<div class="container row">
  <div class="col">
    <div class="pp">
      <p> Image here </p>
    </div>
    <div class="icons">
      <a href="https://www.linkedin.com/in/samdu-ngedup-8b8a1296/" target="_blank"> <i class="fa-brands fa-linkedin"></i></a>
      <a href="https://github.com/samdungedup" target="_blank"> <i class="fa-brands fa-github"></i></a>
    </div>
  </div>
    <div class="col">
      <%= render "shared/navbar" %>
      <h2 class="mb-5">Introduction</h2>
        <h1 class="mb-5"><strong>Full stack web developer and Marketing graduate.</strong></h1>
          <p>Junior full stack Ruby developer with a specialisation in digital marketing. Experience in various countries including Singapore, Australia and Bhutan.</p>
    </div>
</div>
