<div class="navbar d-flex justify-content-start">
  <a href=#, class="pe-4 py-5">Introduction</a>
  <a href=#, class="pe-4 py-5">Skills</a>
  <a href=#, class="pe-4 py-5">Photography</a>
  <a href=#, class="pe-4 py-5">Contact</a>
</div>
