<div class="container-photos">
  <div class="box">
    <%= image_tag "https://raw.githubusercontent.com/samdungedup/portfolio/main/app/assets/images/monks.jpg" %>
    <span class="text-white">Temple</span>
  </div>
  <div class="box">
    <%= image_tag "https://raw.githubusercontent.com/samdungedup/portfolio/main/app/assets/images/night.jpg" %>
    <span class="text-white">Jumolhari</span>
  </div>
  <div class="box">
    <%= image_tag "https://raw.githubusercontent.com/samdungedup/portfolio/main/app/assets/images/sunset.jpg" %>
    <span class="text-white">Sunset</span>
  </div>
  <div class="box">
    <%= image_tag "https://raw.githubusercontent.com/samdungedup/portfolio/main/app/assets/images/walk.jpg" %>
    <span class="text-white">Hike</span>
  </div>
</div>
