<div class="container-exed d-flex">
  <div class="experience col">
    <h1 class="my-5">Experience</h1>
      <h2 class="ms-1"><strong>Digital Marketing</strong></h2>
        <p class="ms-1 mb-4">Educube, Sydney 2017 (3 months)</p>
      <h2 class="ms-1 mb-4"><strong>Freelance (PowerPoint Design)</strong></h2>
      <h2 class="ms-1"><strong>Account Executive</strong></h2>
        <p class="ms-1">Asatsu DK, Singapore 2014 (2 months)</p>
  </div>
  <div class="education col">
    <h1 class="my-5">Education</h1>
      <h2 class="ms-1"><strong>Ruby Full Stack Web Development</strong></h2>
        <p class="ms-1">Le Wagon, 2022</p>
      <h2 class="ms-1"><strong>Business Administration</strong></h2>
        <p class="ms-1">SP Jain, 2017</p>
      <h2 class="ms-1"><strong>International Baccalaureate</strong></h2>
        <p class="ms-1">Prem Tinsulanonda, 2013</p>
  </div>
</div>
</div>
