 <main>
  <section>
    <div class="container-home">
      <div class="left-half">
        <p> Image here </p>
      </div>
      <div class="right-half">
        <div class="navbar d-flex justify-content-start">
          <a href=#, class="pe-4 py-5">Services</a>
          <a href=#, class="pe-4 py-5">Skills</a>
          <a href=#, class="pe-4 py-5">Contact</a>
        </div>
        <h2 class="mb-5">Introduction</h2>
          <h1 class="mb-5"><strong>Full stack web developer and Marketing graduate.</strong></h1>
            <p>Full stack Junior Ruby developer with a specialisation in digital marketing. Experience in various countries including Singapore, Australia and Bhutan.</p>
      </div>
    </section>
    <section>
      <div class="container-exed d-flex">
        <div class="experience col">
            <h1 class="my-5">Experience</h1>
              <h2 class="ms-1"><strong>Digital Marketing</strong></h2>
                <p class="ms-1 mb-4">Educube, Sydney 2017 (3 months)</p>
              <h2 class="ms-1 mb-4"><strong>Freelance (PowerPoint Design)</strong></h2>
              <h2 class="ms-1"><strong>Account Executive</strong></h2>
                <p class="ms-1">Asatsu DK, Singapore 2014 (2 months)</p>
          </div>
          <div class="education col">
            <h1 class="my-5">Education</h1>
              <h2 class="ms-1"><strong>Ruby Full Stack Web Development</strong></h2>
                <p class="ms-1">Le Wagon, 2022</p>
              <h2 class="ms-1"><strong>Business Administration</strong></h2>
                <p class="ms-1">SP Jain, 2017</p>
              <h2 class="ms-1"><strong>International Baccalaureate</strong></h2>
                <p class="ms-1">Prem Tinsulanonda, 2013</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="d-flex justify-content-between mt-5">
            <div class="card full-stack" style="width: 170px; height:160px; background-color:#FFAF29;">
              <div class="card-body">
                <h1 class="card-title" style="font-size: 14px;"><i class="fa-solid fa-code fa-2xl mb-4"></i>
                <br>Full stack web development</h1>
              </div>
            </div>
            <div class="card marketing" style="width: 170px; height:160px; background-color:#4E5470;">
              <div class="card-body">
                <h1 class="card-title" style="font-size: 14px;"><i class="fa-solid fa-mobile-screen-button fa-2xl mb-4"></i>
                <br>Digital Marketing</h1>
              </div>
            </div>
            <div class="card microsoft" style="width: 170px; height:160px; background-color:#4E5470;">
              <div class="card-body">
                <h1 class="card-title" style="font-size: 14px;"><i class="fa-brands fa-microsoft fa-2xl mb-4"></i>
                <br>Microsoft Office</h1>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
</main>
