 <main>
  <section>
    <div class="container-home">
      <div class="left-half">
        <p> Image here </p>
      </div>
      <div class="right-half">
        <div class="navbar d-flex justify-content-start">
          <a href=#, class="pe-4 py-5">Services</a>
          <a href=#, class="pe-4 py-5">Skills</a>
          <a href=#, class="pe-4 py-5">Contact</a>
        </div>
        <h2 class="mb-5">Introduction</h2>
          <h1 class="mb-5"><strong>Full stack web developer and Marketing graduate.</strong></h1>
            <p>Full stack Junior Ruby developer with a specialisation in digital marketing. Experience in various countries including Singapore, Sydney and Bhutan.</p>
      </div>
    </div>
    </section>
    <section>
      <div class="container-home">
      <div class="left-half">
        <h1> Experience </h1>
          <h2><strong>Digital Marketing</strong></h2>
            <p>Educube, Sydney 2017 (3 months)</p>
          <h2><strong>Freelance (PowerPoint Design)</strong></h2>
          <h2><strong>Account Executive</strong></h2>
            <p>Asatsu DK, Singapore 2014 (2 months)</p>
      </div>
      <div class="right-half">
        <h1> Education </h1>
          <h2><strong>Ruby Full Stack Web Development</strong></h2>
            <p>Le Wagon, 2022</p>
          <h2><strong>Business Administration</strong></h2>
            <p>SP Jain, 2017</p>
          <h2><strong>International Baccalaureate</strong></h2>
            <p>Prem Tinsulanonda, 2013</p>
      </div>
      <div class="card">
      </div>
    </section>
  </div>
</main>
