.question {

  h1 {
    color: white;
  }

  a {
    color: #FFAF29;
    text-decoration: none;
  }

  p {
    color: white;
    font-size: 20px;
  }
}

.question a:hover {
  color: #f9c365;
  background-color: transparent;
}
