.experience {
  h1 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  h2 {
    font-size: 20px;
  }
}
.education {
  h1 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  h2 {
    font-size: 20px;
  }
}

.container-exed {
  margin: 0px auto;
  max-width: 800px;
}
